#!/usr/bin/env python3
# -*- coding: utf-8 -*-

import os
import os.path
from os import path
from datetime import datetime
import string

# -----------------------------------------
# application settings has to be defined
# -----------------------------------------
APPS_VERSION = '1.1.0'
APPS_DESCRIPTION = "Testcase for ring-mqtt"
APPS_NAME = 'ring-mqtt-test'
DATA_HOSTNAME = os.uname().nodename

# -----------------------------------------------
# date and time formats
# -----------------------------------------------
DATEFORMAT_TIMESTAMP = '%Y-%m-%dT%H:%M:%S'
DATEFORMAT_CURRENT = '%Y-%m-%d %H:%M:%S.%f'
DATEFORMAT_HOUR = '%H'
DATEFORMAT_DAY = '%Y-%m-%d'
DATEFORMAT_MONTH = '%Y-%m'
DATEFORMAT_YEAR = '%Y'
TIME_FORMAT = '%H:%M:%S'
DATEFORMAT_UTC = '%Y-%m-%dT%H:%M:%SZ'
DATE_NOW = datetime.now()
DATE_DEFAULT = DATE_NOW.strftime(DATEFORMAT_TIMESTAMP)
DATE_DEFAULT_MIN = datetime.min
now = datetime.now()


def getTimestamp() -> string:
    return datetime.now().strftime(DATEFORMAT_TIMESTAMP)

# all folders
ROOTPATH = path.dirname(path.abspath(__file__))
DATADIR = os.path.join(ROOTPATH, 'data/')
LOG_DIR = os.path.join(ROOTPATH, 'logs/')

# Default Global settings logger for all modules
LOG_DIR = None
LOGGER_LEVEL = 100
LOGGER_LEVEL_SET = "PRODUCTION"

# write log data to file
LOG_SHOWLINES = False

MQTT_USERNAME = "mqttUser1"
MQTT_PASSWORD = ")12vQujr7V7(yHuQY5A>Zv"
MQTT_HOST = "localhost"
MQTT_PORT = 1883
MQTT_KEEPALIVE = 60

RING_IMAGE = "ring/****/camera/54e019cfa225/snapshot/image"
RING_TIME = "ring/***/camera/54e019cfa225/snapshot/attributes"
RING_MOTION = "ring/***/camera/54e019cfa225/motion/state"
